/* Máx 768px */
@media only screen and (max-width: 768px) {
  .secao_contato {
    padding: 60px 20px;
  }
}

/* Máx 560px */
@media only screen and (max-width: 560px) {
  .secao_contato {
    padding: 40px 10px;
  }
  .secao_contato_box {
    flex-direction: column;
    align-items: center;
  }
  .secao_contato_box > div h3 {
    margin: 15px auto;
  }
}
